<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MI ARBOL FAMILIAR 🌳🌳🌳</h1>

    {% for familia in familiar %}

        <p>{{familia.nombre}} {{familia.apellido}}, nacio el  {{familia.nacimiento}}, tiene {{familia.hijos}} hijos ,  tiene {{familia.edad}} años </p>
    
    {% endfor %}
</body>
</html>